.portfolio .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.portfolio .box-container .box {
    text-align: center;
    height: 22rem;
    width: 26rem;
    background: #1a1a1a;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
    color: white;
}

.portfolio .box-container .box img {
    /* height: 400px; */
    
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img {
    transform: scale(1.2);
}

/* media queries  */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 400px) {
    .portfolio .box-container .box {
        width: 100%;
    }
}
